body {
    font: 20px;
    
}
    
.navbar {
    background-color: #1E30C3;
    color: white;
}

.quem-somos {
    background-color: white;
 
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #050811;
    color: white;
}

.bg-footer{
    background-color: black;
    color: white;
}

